@model GenericProxyCSharpGoogleSheets.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
        </dd>
    </dl>
    <h4>Google Sheet Id example</h4>
    <hr />
    <p>1sxsRFCFgfuxGWRFjZlt_twNZaNrVtysuFBkCNkQk1U4</p>
    <dl class="dl-horizontal">
        <dt>Root Sheet ID:</dt>
        <dd>
            [
            @if (Model.RootSheetId != "")
            {
                @Html.ActionLink("Change your Root Sheet ID", "ChangeRootSheetId")
            }
            else
            {
                @Html.ActionLink("Create", "SetRootSheetId")
            }
            ]
        </dd>
    </dl>
        @*<div class="col-md-8">
                <h2>Root sheet ID</h2>
                <p>Enter the root sheet ID in input field below.</p>
                <input data-bind="text: myHometown" placeholder="IE: 1sxsRFCFgfuxGWRFjZlt_twNZaNrVtysuFBkCNkQk1U4" />
                <br /><br />
                <p data-bind="text: myHometown"></p>
            </div>*@
</div>
